<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leavesc.databinding_demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleBindingActivity" />
        <activity android:name=".BaseObservableActivity" />
        <activity android:name=".ObservableFieldActivity" />
        <activity android:name=".EventBindingActivity" />
        <activity android:name=".ViewStubAndIncludeActivity" />
        <activity android:name=".BindingAdapterActivity" />
        <activity android:name=".OtherDataBindingActivity" />
        <activity android:name=".ReferResourceActivity" />
        <activity android:name=".DoubleBindingActivity" />
        <activity android:name=".FragmentBindingActivity" />
        <activity android:name=".ObservableCollectionActivity" />
        <activity android:name=".test.TestActivity"/>
    </application>

</manifest>